<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="YurtKayitSistemi.Properties.Settings.YurtOtomasyonConnectionString"
            connectionString="Data Source=erkhbn0096\MURAT;Initial Catalog=YurtOtomasyon;Persist Security Info=True;User ID=sa;Password=Together.1453"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>